*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
/* to insert */
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.width-100{
    width: 100%;
}
.just-center{
    justify-content: center;
}
.column{
    flex-direction: column;
}
.padding-left10{
    padding-left: 10%;
}
.border-radius-5{
    border-radius: 5%;
}
.padding-top-10{
    padding-top: 10%;
}
.width-90{
    width: 90%;
}
.blue-box{
    background-color: rgba(181,221,255,255);
}
.blue{
    color: rgba(0,132,253,255);
    text-align: center;
}
.space-evenly{
    justify-content: space-evenly;
}
.padding-box{
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}
.white-color{
    color: white;
}
.text-center{
    text-align: center;
}
.background-white{
    background-color: white;
}
.padding-t-l-b-10{
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
/* header */
.container{
        height: 130px;
        background-color: rgba(0,132,253,255);
}
.logo{
    position: relative;
    top: 45px; ;
    left: 60px;
    background-color: rgba(0,132,253,255);
}
.col-box{
    height: 100%;
    width: 20%;
    background-color: rgba(0,132,253,255);
}
.bar-3{
    color: white;
    position: relative;
    top: 45px;
    left: 50px;
    font-size: 30px;
}
/* main */
/* FIRST BOX */
.first-container{
    height: auto;
}
.big-first-box{
    background-color: rgba(181,221,255,255);
    height: 900px;
}
.box{
    height: 800px;
    margin-top: 5%;
}
.text-first{
    color: rgba(90,110,127,255);
}
.button-app-store{
    color: white;
    background-color: rgba(0,132,253,255);
    width: 80%;
    padding: 7%;
    border-radius: 30%;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
}
/* SECOND BOX */
.second-container{
    height: auto;
    background-color: rgba(151,146,228,255);
}
.item-first{
    font-size: 110px;
}
.arrow-down{
    background-color: rgba(151,146,228,255);
    padding: 1%;
    width: 5%;
    border-radius: 50%;
    margin: auto;
}
/* THIRD BOX */
.third-container{
    height: auto;
    background-color: darkolivegreen;
}
/* FOURTH BOX */
.fourth-container{
    height: auto;
    background-color: royalblue;
}
/* FIFTH BOX */
.fifth-container{
    height: auto;
    background-color: blue;
}
/* SIXTH BOX */
.sixth-container{
    height: auto;
    background-color: darkolivegreen;
}
.box-sixth{
    height: auto;
    background-color: lawngreen;
}
/* footer */
footer{
    height: 500px;
    background-color: black;
    color: white;
}
.foot-box{
    height: 300px;
    background-color: chartreuse;
}