*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
/* to insert */
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.width-100{
    width: 100%;
}
.just-center{
    justify-content: center;
}
.column{
    flex-direction: column;
}
.padding-left10{
    padding-left: 10%;
}
.border-radius-5{
    border-radius: 5%;
}
.padding-top-10{
    padding-top: 10%;
}
.width-90{
    width: 90%;
}
/* header */
.container{
        height: 130px;
        background-color: rgba(0,132,253,255);
}
.logo{
    padding-top: 30%;
    padding-left: 20%;
    background-color: rgba(0,132,253,255);
}
.col-box{
    height: 100%;
    width: 20%;
    background-color: rgba(0,132,253,255);
}
.bar-3{
    color: white;
    position: relative;
    top: 45px;
    left: 50px;
    font-size: 30px;
}

/* main */
/* FIRST BOX */
.first-container{
    height: 2500px;
    background-color: cadetblue;
}
.big-first-box{
    background-color: chartreuse;
    height: 550px;
}
.box{
    height: 400px;
    background-color: chartreuse;
    margin-top: 5%;
}
/* SECOND BOX */
.second-container{
    height: 1000px;
    background-color: blueviolet;
}
/* THIRD BOX */
.third-container{
    height: 1900px;
    background-color: darkolivegreen;
}
/* FOURTH BOX */
.fourth-container{
    height: 2800px;
    background-color: royalblue;
}
/* FIFTH BOX */
.fifth-container{
    height: 1500px;
    background-color: blue;
}
/* SIXTH BOX */
.sixth-container{
    height: 1050px;
    background-color: darkolivegreen;
}
.box-sixth{
    height: 800px;
    background-color: lawngreen;
}
/* footer */
footer{
    height: 500px;
    background-color: black;
    color: white;
}
.foot-box{
    height: 300px;
    background-color: chartreuse;
}