@media screen and (min-width:992px){
    body{
        width: 100%;
    }
    /* first box */
    .img-phone{
        width: 100%;
        height: 100%;
    }
    .button-app-store{
        margin-left: 32%;
        margin-bottom: 10%;
    }
    .margin-first{
        margin-top: 10%;
    }
    
    /* third box */
    .media992{
        flex-direction: row;
    }
    .col-3{
        display: flex;
        flex-direction: column;
    }
    .media992-text{
        padding-top: 5%;
    }
    .img-third{
        height: 50%;
        width: 100%;
    }
    .box{
        height: auto;
    }
    /* fourth box */
    .fourth-row{
        display: flex;
        flex-direction: row;
        padding: 5%;
        width: calc( 100% / 3 * 2);
    }
    .fourth-col{
        padding-left: 3%;
    }
    .width-fourth{
        width: 350px;
        height: 100%;
    }
    /* fifth box */
}